.search {
    background-color: rgb(33, 90, 165);
    width: 100%;
    padding: 20px 0;
}

.searchForm {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-gap: 20px;
    position: relative;
}

input {
    padding: 7px;
    font-size: 16px;
}

input[type=text], 
input[type=submit] {
    border: none;
    border-radius: 5px;
}

.autoComplete {
    font-size: 16px;
    position: absolute;
    top: 32px;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 100px;
}

.autoItems {

}

.autoItem {
    background-color: white;
    padding: 7px;
    border: 1px solid rgba(68, 68, 68, 0.644);
    border-top: none;
}
.autoItem:hover {
    background-color: rgb(116, 154, 204);
}

.selected {
    background-color: rgb(116, 154, 204);
}

.blank {
    background-color: none;
}